*{
	margin: 0;
	box-sizing: border-box;
}

body {
	background: #e4fbff;
	font-family: 'Recursive', sans-serif;
}
 
a {
	text-transform: capitalize;
	color: inherit;
	padding: 0 15px;
}

p, h2 {
	cursor: pointer;
}

.header,
.footer {
	background: #edeef7;
	color: #7868e6 ;
}

.footer {
	text-align: center;
    width: 100%;
    padding: 20px 0;
    font-size: 15px;
    display: none; 
}

.container {
	width: 80%;
	margin: auto;
}

.main {
	display: grid;
	grid-template-columns: 20% 85%;
	margin-top: 35px; 
}

.title {  
	margin: 20px 0;
}

.maintitle {
	text-align: center;
	padding-bottom: 20px;
	padding-top: 20px;
	text-transform: uppercase;
}

.task {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	border-bottom: 2px solid #e4fbff;
	margin-top: 35px;
}

.removeTask {
	margin-left: 80px;
	font-size: 20px;
	text-transform: uppercase;
}

.removeTask:hover,
.removeProject:hover {
	color: red;
	font-weight: bolder;
}

.tasksCont {
	background: #7868e6;
	color: #edeef7;
	padding: 15px;
	margin-bottom: 20px;
	margin-left: 60px;
}

.tabs {
	color: #7868e6;
}

.dueDate {
	margin-left: 20px;
}

.projectTitle {
	font-size: 20px;
}

.tab {
	text-transform: capitalize;
	font-size: 18px;
	margin-bottom: 20px; 
	cursor: pointer;
}

.btn {
	margin: 20px 0;
	padding: 18px 20px;
	color: #7868e6;
	background: #e4fbff;
	border: 0; 
	outline: none;
	text-transform: uppercase; 
	font-weight: bold;
	cursor: pointer;
}

.addTask:hover {
	background: #edeef7;
}

.addProject {
	background: #7868e6;
	color: #e4fbff;
}

.addProject:hover {
	color: #edeef7;
}

.formField {
	width: 100%;
	height: 35px;
	border: 2px double #7868e6; 
	border-radius: 5px;
	outline: none;
	font-size: 15px;
	padding-left: 5px;
	margin-bottom: 20px;
}

.formBtns {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.formBtn {
	background: #7868e6;
	color: #e4fbff;
	width: 90%;
	margin: auto;
}
 

.form {
	position: absolute;
	top: 35%; 
	left: 10%;
	background: #c6cbf5c7;
	padding: 20px;
}
 
.checkbox { 
	width: 25px;
	height: 25px;
	outline: none;
	margin-left: 50px;
	margin-bottom: 5px; 
}

.project {
	color: black;
	text-transform: capitalize;
	display: flex;
	margin-bottom: 20px;
}

.project p {
	margin-left: 80px;
}

.active {
	background: #7868e6;
	color: #fff;
	padding: 10px 10px;
}
 
@media only screen and (min-width: 700px) {
	.form {
		width: 50%;
		left: 25%;
	}

	.main {
		grid-template-columns: 150px 600px;
	} 
}

.removeForm {
	display: none;
}      


.hide {
	display: none;
}