*{
	margin: 0;
}

body {
	background: #e4fbff;
	font-family: 'Recursive', sans-serif;
}

a {
	text-transform: capitalize;
	color: inherit;
	padding: 0 15px;
}

.header,
.footer {
	background: #edeef7;
	color: #7868e6 ;
}

.footer {
	text-align: center;
	position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px 0;
    font-size: 15px;

}

.container {
	width: 80%;
	margin: auto;
}

.main {
	display: grid;
	grid-template-columns: 1fr 2fr;
	margin-top: 25px;
}

.title {
	padding: 20px 0;
}

.maintitle {
	text-align: center;
	padding-bottom: 20px;
	padding-top: 20px;
	text-transform: uppercase;
}

.task {
	display: flex;
	justify-content: space-between;
	border-bottom: 2px solid #e4fbff;
	padding: 5px;
	margin-top: 10px;
}

.tasks {
	background: #7868e6;
	color: #edeef7;
	padding: 0 15px;
	margin-bottom: 20px;
	margin-left: 25px;
}

.projects {
	color: #7868e6;
}

.projectName {
	text-transform: capitalize;
	font-size: 20px;
}

.btn {
	margin: 20px 0;
	padding: 18px 20px;
	color: #7868e6;
	background: #e4fbff;
	border: 0;
	outline: none;
	text-transform: uppercase; 
	font-weight: bold;
	cursor: pointer;
}

.addTask:hover {
	background: #edeef7;
}

.addProject {
	background: #7868e6;
	color: #e4fbff;
}

.addProject:hover {
	color: #edeef7;
}

.formField {
	width: 100%;
	height: 35px;
	border: 2px double #7868e6; 
	border-radius: 5px;
	outline: none;
	font-size: 15px;
}

.formBtns {
	display: flex;
	justify-content: space-around;
}

.formBtn {
	background: #7868e6;
	color: #e4fbff;
	width: 48%;
}

.form {
	display: none;
}

.checkbox {
	width: 25px;
	height: 25px;
	outline: none;
	border-radius: 5px;
}

input {
}